<div class="row">
    <div class="col-lg-9">
        <h4>Topic Management</h4>
    </div>

    <div class="col-lg-1">
            <button type="button" class="btn btn-success" (click)="enableAddTopic()">Add</button>
        </div>

    <div class="col-lg-2">
        <h4>Add Topic </h4>
    </div>
</div>

<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Topic Id</th>
            <th>Topic Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let topic of topics">
            <!---<tr ng-repeat="row in rowCollection">-->
            <!--<td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.birthDate}}</td>-->
            <td>{{topic.id | uppercase}} </td>
            <td>
                <div *ngIf="isView || (isUpdate && !isEqual(topicId,topic.id))">{{topic.name}}</div>
                <div *ngIf="isUpdate && isEqual(topicId,topic.id)">
                    <input type="text" [(ngModel)]="updateTopicObj.name" placeholder="{{topic.name}}">
                </div>
            </td>
            <td>
                <div *ngIf="isView || (isUpdate && !isEqual(topicId,topic.id))">{{topic.description}}</div>
                <div *ngIf="isUpdate && isEqual(topicId,topic.id)">
                    <input type="text" [(ngModel)]="updateTopicObj.description" placeholder="{{topic.description}}">
                </div>
            </td>
            <td>
                <div *ngIf="isView">
                    <button type="button" class="btn btn-light" (click)="enableUpdateTopic(topic)">Edit</button>
                    <button type="button" class="btn btn-light" (click)="deleteTopic(topic.id)">Delete</button>
                </div>

                <div *ngIf="isUpdate && !isEqual(topicId,topic.id)">
                    <button [disabled]="true" type="button" class="btn btn-light">Update</button>
                    <button [disabled]="true" type="button" class="btn btn-light">Delete</button>
                </div>

                <div *ngIf="isUpdate && isEqual(topicId,topic.id)">
                    <button type="button" class="btn btn-success" (click)="updateTopic(topic)">Update</button>
                    <button type="button" class="btn btn-primary" (click)="cancelUpdate()">Cancel</button>
                </div>

            </td>
        </tr>
    </tbody>
</table>