<div class="row">
    <div class="col-lg-9">
        <h4>Topic Management</h4>
    </div>

    <div class="col-lg-1">
        <button [disabled]="isAdd" type="button" class="btn btn-success" (click)="enableAddTopic()">Add</button>
    </div>

    <div class="col-lg-2">
        <h4>Add Topic </h4>
    </div>
</div>

<div *ngIf="isAdd">
    <hr>
    <div class="row">
        <div class="col-lg-3">
            <input type="text" required [(ngModel)]="addTopicObj.id" placeholder="Enter Topic Id">
        </div>

        <div class="col-lg-3">
            <input type="text" required [(ngModel)]="addTopicObj.name" placeholder="Enter Topic Name">
        </div>

        <div class="col-lg-3">
            <input type="text" required [(ngModel)]="addTopicObj.description" placeholder="Enter Topic Description">
        </div>

        <div class="col-lg-1">
            <button type="button" class="btn btn-success" (click)="addTopic()">Add</button>
        </div>

        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" (click)="cancelAdd()">Cancel</button>
        </div>
    </div>
</div>
<br>

<div *ngIf="isAdd && isAddValidation">
    <div class="row">
        <p class="alert alert-danger">{{errorMessage}}</p>
    </div>
</div>

<div *ngIf="isAddSucess">
    <div class="row">
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="close" (click)="closeAddSuccess()">&times;</button>
            <strong>Topic is added successfully!</strong>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Topic Id</th>
            <th>Topic Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let topic of topics">
            <!---<tr ng-repeat="row in rowCollection">-->
            <!--<td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.birthDate}}</td>-->
            <td>{{topic.id | uppercase}} </td>
            <td>
                <div *ngIf="isView || (isUpdate && !isEqual(topicId,topic.id))">{{topic.name}}</div>
                <div *ngIf="isUpdate && isEqual(topicId,topic.id)">
                    <input type="text" [(ngModel)]="updateTopicObj.name" placeholder="{{topic.name}}">
                </div>
            </td>
            <td>
                <div *ngIf="isView || (isUpdate && !isEqual(topicId,topic.id))">{{topic.description}}</div>
                <div *ngIf="isUpdate && isEqual(topicId,topic.id)">
                    <input type="text" [(ngModel)]="updateTopicObj.description" placeholder="{{topic.description}}">
                </div>
            </td>
            <td>
                <div *ngIf="isView">
                    <button [disabled]="isAdd" type="button" class="btn btn-light" (click)="enableUpdateTopic(topic)">Edit</button>
                    <button [disabled]="isAdd" type="button" class="btn btn-light" (click)="deleteTopic(topic.id)">Delete</button>
                </div>

                <div *ngIf="isUpdate && !isEqual(topicId,topic.id)">
                    <button [disabled]="true" type="button" class="btn btn-light">Update</button>
                    <button [disabled]="true" type="button" class="btn btn-light">Delete</button>
                </div>

                <div *ngIf="isUpdate && isEqual(topicId,topic.id)">
                    <button [disabled]="isAdd" type="button" class="btn btn-success" (click)="updateTopic(topic)">Update</button>
                    <button [disabled]="isAdd" type="button" class="btn btn-primary" (click)="cancelUpdate()">Cancel</button>
                </div>

            </td>
        </tr>
    </tbody>
</table>